<!doctype html>
 <html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    </head>
    <body>
        <div class="container">
            <div class="row">
              <div class="col-sm" style="text-align: left;"> <img style="height: 150px;" src={{logo}}></div>
            </div>
            <div class="row">
                <table class="table table-borderless">
                    <thead>
                    <tr>
                        
                        <th scope="col" style="border: 1px solid black;">Data: {{data}}</th>
                        <th scope="col"></th>
                        <th scope="col" style="border: 1px solid black;">Lettera di Vettura: {{lettera_di_vettura}}</th>
                        
                    </tr>
                    </thead>
                    
                </table>
            </div>
            <div class="row">
                <table class="table table-borderless">
                    <thead>
                    <tr>
                        <th scope="col" style="border: 1px solid black;">
                            Mittente
                            <br>
                            Nome: {{mittente_nome}}
                            <br>
                            Via: {{mittente_via}}
                            <br>
                            Luogo: {{mittente_luogo}}
                        </th>
                        <th scope="col"></th>
                        <th scope="col" style="border: 1px solid black;">
                            Destinatario
                            <br>
                            Nome: {{destinatario_nome}}
                            <br>
                            Via: {{destinatario_via}}
                            <br>
                            Luogo: {{destinatario_luogo}}
                        </th>
                    </tr>
                    </thead>
                </table>
            </div>
            <div class="row">
                <table class="table table-borderless">
                    <thead>
                    <tr>
                        <th scope="col" style="border: 1px solid black;">
                            Contrassegno: {{contrassegno}}
                            <br>
                        </th>
                    </tr>
                    </thead>
                </table>
            </div>
            <div class="row">
                <table class="table table-borderless">
                    <thead>
                    <tr>
                        <th scope="col" style="border: 1px solid black;">
                            Inizio trasporto: {{data_inizio_trasporto}}
                        </th>
                        <th scope="col" style="border: 1px solid black;">
                            Numero Colli: {{numero_colli}}
                        </th>
                        <th scope="col" style="border: 1px solid black;">
                            Peso: {{peso}}
                        </th>
                    </tr>
                    </thead>
                </table>
            </div>
            <div class="row">
                <table class="table table-borderless">
                    <thead>
                    <tr>
                        <th scope="col" style="border: 1px solid black;">
                            Numero DTT:
                            <br>
                            {{DDT}}
                        </th>
                        <th scope="col" style="border: 1px solid black;">
                            Annotazioni:
                            <br>
                            {{annotazioni}}
                        </th>
                    </tr>
                    </thead>
                </table>
            </div>
            <div class="row">
                <table class="table table-borderless">
                    <thead>
                    <tr>
                        <th scope="col" style="border: 1px solid black;">
                            Firma Vettore
                            <br>
                            <br>
                        </th>
                        <th scope="col" style="border: 1px solid black;">
                            Firma Conducente
                            <br>
                            <br>
                        </th>
                        <th scope="col" style="border: 1px solid black;">
                            Firma Destinatario
                            <br>
                            <br>
                        </th>
                    </tr>
                    </thead>
                </table>
            </div>
            <p style="font-size: small;">
                I dati personali relativi al cliente saranno trattati in base
                al D.Lgs 196/2003 esclusivamente per gli adempimenti amministrativi e fiscali.
            </p>
        </div>
        <br><br>
        <a style="font-weight: bold;">-----------------------------------------------------------------------------------TAGLIA QUI--------------------------------------------------------------------------------------</a>
        <div class="container">
            <div class="row">
              <div class="col-sm" style="text-align: left;"> <img style="height: 150px;" src={{logo}}></div>
            </div>
            <div class="row">
                <table class="table table-borderless">
                    <thead>
                    <tr>
                        
                        <th scope="col" style="border: 1px solid black;">Data: {{data}}</th>
                        <th scope="col"></th>
                        <th scope="col" style="border: 1px solid black;">Lettera di Vettura: {{lettera_di_vettura}}</th>
                        
                    </tr>
                    </thead>
                    
                </table>
            </div>
            <div class="row">
                <table class="table table-borderless">
                    <thead>
                    <tr>
                        <th scope="col" style="border: 1px solid black;">
                            Mittente
                            <br>
                            Nome: {{mittente_nome}}
                            <br>
                            Via: {{mittente_via}}
                            <br>
                            Luogo: {{mittente_luogo}}
                        </th>
                        <th scope="col"></th>
                        <th scope="col" style="border: 1px solid black;">
                            Destinatario
                            <br>
                            Nome: {{destinatario_nome}}
                            <br>
                            Via: {{destinatario_via}}
                            <br>
                            Luogo: {{destinatario_luogo}}
                        </th>
                    </tr>
                    </thead>
                </table>
            </div>
            <div class="row">
                <table class="table table-borderless">
                    <thead>
                    <tr>
                        <th scope="col" style="border: 1px solid black;">
                            Contrassegno: {{contrassegno}}
                            <br>
                        </th>
                    </tr>
                    </thead>
                </table>
            </div>
            <div class="row">
                <table class="table table-borderless">
                    <thead>
                    <tr>
                        <th scope="col" style="border: 1px solid black;">
                            Inizio trasporto: {{data_inizio_trasporto}}
                        </th>
                        <th scope="col" style="border: 1px solid black;">
                            Numero Colli: {{numero_colli}}
                        </th>
                        <th scope="col" style="border: 1px solid black;">
                            Peso: {{peso}}
                        </th>
                    </tr>
                    </thead>
                </table>
            </div>
            <div class="row">
                <table class="table table-borderless">
                    <thead>
                    <tr>
                        <th scope="col" style="border: 1px solid black;">
                            Numero DTT:
                            <br>
                            {{DDT}}
                        </th>
                        <th scope="col" style="border: 1px solid black;">
                            Annotazioni:
                            <br>
                            {{annotazioni}}
                        </th>
                    </tr>
                    </thead>
                </table>
            </div>
            <div class="row">
                <table class="table table-borderless">
                    <thead>
                    <tr>
                        <th scope="col" style="border: 1px solid black;">
                            Firma Vettore
                            <br>
                            <br>
                        </th>
                        <th scope="col" style="border: 1px solid black;">
                            Firma Conducente
                            <br>
                            <br>
                        </th>
                        <th scope="col" style="border: 1px solid black;">
                            Firma Destinatario
                            <br>
                            <br>
                        </th>
                    </tr>
                    </thead>
                </table>
            </div>
            <p style="font-size: small;">
                I dati personali relativi al cliente saranno trattati in base
                al D.Lgs 196/2003 esclusivamente per gli adempimenti amministrativi e fiscali.
            </p>
        </div>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>
        </body>
  </html>
  