<!doctype html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
	</head>
	<body>
		<div class="container-fluid">
			<div class="row">
				<div class="col-sm" style="text-align: left;"> <img style="height: 120px;" src={{logo}}></div>
			</div>
			<div class="row">
				<table class="table table-borderless">
					<thead>
						<tr>
							<th scope="col" style="border: 1px solid black;">Data: <a style="font-weight: lighter;">{{data}}</a></th>
							<th scope="col"></th>
							<th scope="col" style="border: 1px solid black;">Autista: <a style="font-weight: lighter;">{{autista}}</a></th>
						</tr>
					</thead>
				</table>
			</div>
			<div class="row">
				<table class="table table-borderless">
					<thead>
						<tr>
							<th scope='col' style='border: 1px solid black;'>Mittente</th>
							<th scope='col' style='border: 1px solid black;'>Destinatario</th>
							<th scope='col' style='border: 1px solid black;'>Via Destinatario</th>
							<th scope='col' style='border: 1px solid black;'>Luogo</th>
							<th scope='col' style='border: 1px solid black;'>Colli</th>
							<th scope='col' style='border: 1px solid black;'>Peso</th>
							<th scope='col' style='border: 1px solid black;'>Contrassegno</th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td scope='col' style='border: 1px solid black;'><a style='font-weight: lighter;'>{{mitt_0}}</a></td>
							<td scope='col' style='border: 1px solid black;'><a style='font-weight: lighter;'>{{dest_0}}</a></td>
							<td scope='col' style='border: 1px solid black;'><a style='font-weight: lighter;'>{{viadest_0}}</a></td>
							<td scope='col' style='border: 1px solid black;'><a style='font-weight: lighter;'>{{luogo_0}}</a></td>
							<td scope='col' style='border: 1px solid black;'><a style='font-weight: lighter;'>{{colli_0}}</a></td>
							<td scope='col' style='border: 1px solid black;'><a style='font-weight: lighter;'>{{peso_0}}</a></td>
							<td scope='col' style='border: 1px solid black;'><a style='font-weight: lighter;'>{{contrassegno_0}}</a></td>
						<tr>
						<tr>
							<td scope='col' style='border: 1px solid black;'><a style='font-weight: lighter;'>{{mitt_1}}</a></td>
							<td scope='col' style='border: 1px solid black;'><a style='font-weight: lighter;'>{{dest_1}}</a></td>
							<td scope='col' style='border: 1px solid black;'><a style='font-weight: lighter;'>{{viadest_1}}</a></td>
							<td scope='col' style='border: 1px solid black;'><a style='font-weight: lighter;'>{{luogo_1}}</a></td>
							<td scope='col' style='border: 1px solid black;'><a style='font-weight: lighter;'>{{colli_1}}</a></td>
							<td scope='col' style='border: 1px solid black;'><a style='font-weight: lighter;'>{{peso_1}}</a></td>
							<td scope='col' style='border: 1px solid black;'><a style='font-weight: lighter;'>{{contrassegno_1}}</a></td>
						<tr>
						<tr>
							<td scope='col' style='border: 1px solid black;'><a style='font-weight: lighter;'>{{mitt_2}}</a></td>
							<td scope='col' style='border: 1px solid black;'><a style='font-weight: lighter;'>{{dest_2}}</a></td>
							<td scope='col' style='border: 1px solid black;'><a style='font-weight: lighter;'>{{viadest_2}}</a></td>
							<td scope='col' style='border: 1px solid black;'><a style='font-weight: lighter;'>{{luogo_2}}</a></td>
							<td scope='col' style='border: 1px solid black;'><a style='font-weight: lighter;'>{{colli_2}}</a></td>
							<td scope='col' style='border: 1px solid black;'><a style='font-weight: lighter;'>{{peso_2}}</a></td>
							<td scope='col' style='border: 1px solid black;'><a style='font-weight: lighter;'>{{contrassegno_2}}</a></td>
						<tr>
						<tr>
							<td scope='col' style='border: 1px solid black;'><a style='font-weight: lighter;'>{{mitt_3}}</a></td>
							<td scope='col' style='border: 1px solid black;'><a style='font-weight: lighter;'>{{dest_3}}</a></td>
							<td scope='col' style='border: 1px solid black;'><a style='font-weight: lighter;'>{{viadest_3}}</a></td>
							<td scope='col' style='border: 1px solid black;'><a style='font-weight: lighter;'>{{luogo_3}}</a></td>
							<td scope='col' style='border: 1px solid black;'><a style='font-weight: lighter;'>{{colli_3}}</a></td>
							<td scope='col' style='border: 1px solid black;'><a style='font-weight: lighter;'>{{peso_3}}</a></td>
							<td scope='col' style='border: 1px solid black;'><a style='font-weight: lighter;'>{{contrassegno_3}}</a></td>
						<tr>
						<tr>
							<td scope='col' style='border: 1px solid black;'><a style='font-weight: lighter;'>{{mitt_4}}</a></td>
							<td scope='col' style='border: 1px solid black;'><a style='font-weight: lighter;'>{{dest_4}}</a></td>
							<td scope='col' style='border: 1px solid black;'><a style='font-weight: lighter;'>{{viadest_4}}</a></td>
							<td scope='col' style='border: 1px solid black;'><a style='font-weight: lighter;'>{{luogo_4}}</a></td>
							<td scope='col' style='border: 1px solid black;'><a style='font-weight: lighter;'>{{colli_4}}</a></td>
							<td scope='col' style='border: 1px solid black;'><a style='font-weight: lighter;'>{{peso_4}}</a></td>
							<td scope='col' style='border: 1px solid black;'><a style='font-weight: lighter;'>{{contrassegno_4}}</a></td>
						<tr>
						<tr>
							<td scope='col' style='border: 1px solid black;'><a style='font-weight: lighter;'>{{mitt_5}}</a></td>
							<td scope='col' style='border: 1px solid black;'><a style='font-weight: lighter;'>{{dest_5}}</a></td>
							<td scope='col' style='border: 1px solid black;'><a style='font-weight: lighter;'>{{viadest_5}}</a></td>
							<td scope='col' style='border: 1px solid black;'><a style='font-weight: lighter;'>{{luogo_5}}</a></td>
							<td scope='col' style='border: 1px solid black;'><a style='font-weight: lighter;'>{{colli_5}}</a></td>
							<td scope='col' style='border: 1px solid black;'><a style='font-weight: lighter;'>{{peso_5}}</a></td>
							<td scope='col' style='border: 1px solid black;'><a style='font-weight: lighter;'>{{contrassegno_5}}</a></td>
						<tr>
						<tr>
							<td scope='col' style='border: 1px solid black;'><a style='font-weight: lighter;'>{{mitt_6}}</a></td>
							<td scope='col' style='border: 1px solid black;'><a style='font-weight: lighter;'>{{dest_6}}</a></td>
							<td scope='col' style='border: 1px solid black;'><a style='font-weight: lighter;'>{{viadest_6}}</a></td>
							<td scope='col' style='border: 1px solid black;'><a style='font-weight: lighter;'>{{luogo_6}}</a></td>
							<td scope='col' style='border: 1px solid black;'><a style='font-weight: lighter;'>{{colli_6}}</a></td>
							<td scope='col' style='border: 1px solid black;'><a style='font-weight: lighter;'>{{peso_6}}</a></td>
							<td scope='col' style='border: 1px solid black;'><a style='font-weight: lighter;'>{{contrassegno_6}}</a></td>
						<tr>
						<tr>
							<td scope='col' style='border: 1px solid black;'><a style='font-weight: lighter;'>{{mitt_7}}</a></td>
							<td scope='col' style='border: 1px solid black;'><a style='font-weight: lighter;'>{{dest_7}}</a></td>
							<td scope='col' style='border: 1px solid black;'><a style='font-weight: lighter;'>{{viadest_7}}</a></td>
							<td scope='col' style='border: 1px solid black;'><a style='font-weight: lighter;'>{{luogo_7}}</a></td>
							<td scope='col' style='border: 1px solid black;'><a style='font-weight: lighter;'>{{colli_7}}</a></td>
							<td scope='col' style='border: 1px solid black;'><a style='font-weight: lighter;'>{{peso_7}}</a></td>
							<td scope='col' style='border: 1px solid black;'><a style='font-weight: lighter;'>{{contrassegno_7}}</a></td>
						<tr>
						<tr>
							<td scope='col' style='border: 1px solid black;'><a style='font-weight: lighter;'>{{mitt_8}}</a></td>
							<td scope='col' style='border: 1px solid black;'><a style='font-weight: lighter;'>{{dest_8}}</a></td>
							<td scope='col' style='border: 1px solid black;'><a style='font-weight: lighter;'>{{viadest_8}}</a></td>
							<td scope='col' style='border: 1px solid black;'><a style='font-weight: lighter;'>{{luogo_8}}</a></td>
							<td scope='col' style='border: 1px solid black;'><a style='font-weight: lighter;'>{{colli_8}}</a></td>
							<td scope='col' style='border: 1px solid black;'><a style='font-weight: lighter;'>{{peso_8}}</a></td>
							<td scope='col' style='border: 1px solid black;'><a style='font-weight: lighter;'>{{contrassegno_8}}</a></td>
						<tr>
						<tr>
							<td scope='col' style='border: 1px solid black;'><a style='font-weight: lighter;'>{{mitt_9}}</a></td>
							<td scope='col' style='border: 1px solid black;'><a style='font-weight: lighter;'>{{dest_9}}</a></td>
							<td scope='col' style='border: 1px solid black;'><a style='font-weight: lighter;'>{{viadest_9}}</a></td>
							<td scope='col' style='border: 1px solid black;'><a style='font-weight: lighter;'>{{luogo_9}}</a></td>
							<td scope='col' style='border: 1px solid black;'><a style='font-weight: lighter;'>{{colli_9}}</a></td>
							<td scope='col' style='border: 1px solid black;'><a style='font-weight: lighter;'>{{peso_9}}</a></td>
							<td scope='col' style='border: 1px solid black;'><a style='font-weight: lighter;'>{{contrassegno_9}}</a></td>
						<tr>
						<tr>
							<td scope='col' style='border: 1px solid black;'><a style='font-weight: lighter;'>{{mitt_10}}</a></td>
							<td scope='col' style='border: 1px solid black;'><a style='font-weight: lighter;'>{{dest_10}}</a></td>
							<td scope='col' style='border: 1px solid black;'><a style='font-weight: lighter;'>{{viadest_10}}</a></td>
							<td scope='col' style='border: 1px solid black;'><a style='font-weight: lighter;'>{{luogo_10}}</a></td>
							<td scope='col' style='border: 1px solid black;'><a style='font-weight: lighter;'>{{colli_10}}</a></td>
							<td scope='col' style='border: 1px solid black;'><a style='font-weight: lighter;'>{{peso_10}}</a></td>
							<td scope='col' style='border: 1px solid black;'><a style='font-weight: lighter;'>{{contrassegno_10}}</a></td>
						<tr>
						<tr>
							<td scope='col' style='border: 1px solid black;'><a style='font-weight: lighter;'>{{mitt_11}}</a></td>
							<td scope='col' style='border: 1px solid black;'><a style='font-weight: lighter;'>{{dest_11}}</a></td>
							<td scope='col' style='border: 1px solid black;'><a style='font-weight: lighter;'>{{viadest_11}}</a></td>
							<td scope='col' style='border: 1px solid black;'><a style='font-weight: lighter;'>{{luogo_11}}</a></td>
							<td scope='col' style='border: 1px solid black;'><a style='font-weight: lighter;'>{{colli_11}}</a></td>
							<td scope='col' style='border: 1px solid black;'><a style='font-weight: lighter;'>{{peso_11}}</a></td>
							<td scope='col' style='border: 1px solid black;'><a style='font-weight: lighter;'>{{contrassegno_11}}</a></td>
						<tr>
						<tr>
							<td scope='col' style='border: 1px solid black;'><a style='font-weight: lighter;'>{{mitt_12}}</a></td>
							<td scope='col' style='border: 1px solid black;'><a style='font-weight: lighter;'>{{dest_12}}</a></td>
							<td scope='col' style='border: 1px solid black;'><a style='font-weight: lighter;'>{{viadest_12}}</a></td>
							<td scope='col' style='border: 1px solid black;'><a style='font-weight: lighter;'>{{luogo_12}}</a></td>
							<td scope='col' style='border: 1px solid black;'><a style='font-weight: lighter;'>{{colli_12}}</a></td>
							<td scope='col' style='border: 1px solid black;'><a style='font-weight: lighter;'>{{peso_12}}</a></td>
							<td scope='col' style='border: 1px solid black;'><a style='font-weight: lighter;'>{{contrassegno_12}}</a></td>
						<tr>
						<tr>
							<td scope='col' style='border: 1px solid black;'><a style='font-weight: lighter;'>{{mitt_13}}</a></td>
							<td scope='col' style='border: 1px solid black;'><a style='font-weight: lighter;'>{{dest_13}}</a></td>
							<td scope='col' style='border: 1px solid black;'><a style='font-weight: lighter;'>{{viadest_13}}</a></td>
							<td scope='col' style='border: 1px solid black;'><a style='font-weight: lighter;'>{{luogo_13}}</a></td>
							<td scope='col' style='border: 1px solid black;'><a style='font-weight: lighter;'>{{colli_13}}</a></td>
							<td scope='col' style='border: 1px solid black;'><a style='font-weight: lighter;'>{{peso_13}}</a></td>
							<td scope='col' style='border: 1px solid black;'><a style='font-weight: lighter;'>{{contrassegno_13}}</a></td>
						<tr>
						<tr>
							<td scope='col' style='border: 1px solid black;'><a style='font-weight: lighter;'>{{mitt_14}}</a></td>
							<td scope='col' style='border: 1px solid black;'><a style='font-weight: lighter;'>{{dest_14}}</a></td>
							<td scope='col' style='border: 1px solid black;'><a style='font-weight: lighter;'>{{viadest_14}}</a></td>
							<td scope='col' style='border: 1px solid black;'><a style='font-weight: lighter;'>{{luogo_14}}</a></td>
							<td scope='col' style='border: 1px solid black;'><a style='font-weight: lighter;'>{{colli_14}}</a></td>
							<td scope='col' style='border: 1px solid black;'><a style='font-weight: lighter;'>{{peso_14}}</a></td>
							<td scope='col' style='border: 1px solid black;'><a style='font-weight: lighter;'>{{contrassegno_14}}</a></td>
						<tr>
						<tr>
							<td scope='col' style='border: 1px solid black;'><a style='font-weight: lighter;'>{{mitt_15}}</a></td>
							<td scope='col' style='border: 1px solid black;'><a style='font-weight: lighter;'>{{dest_15}}</a></td>
							<td scope='col' style='border: 1px solid black;'><a style='font-weight: lighter;'>{{viadest_15}}</a></td>
							<td scope='col' style='border: 1px solid black;'><a style='font-weight: lighter;'>{{luogo_15}}</a></td>
							<td scope='col' style='border: 1px solid black;'><a style='font-weight: lighter;'>{{colli_15}}</a></td>
							<td scope='col' style='border: 1px solid black;'><a style='font-weight: lighter;'>{{peso_15}}</a></td>
							<td scope='col' style='border: 1px solid black;'><a style='font-weight: lighter;'>{{contrassegno_15}}</a></td>
						<tr>
						<tr>
							<td scope='col' style='border: 1px solid black;'><a style='font-weight: lighter;'>{{mitt_16}}</a></td>
							<td scope='col' style='border: 1px solid black;'><a style='font-weight: lighter;'>{{dest_16}}</a></td>
							<td scope='col' style='border: 1px solid black;'><a style='font-weight: lighter;'>{{viadest_16}}</a></td>
							<td scope='col' style='border: 1px solid black;'><a style='font-weight: lighter;'>{{luogo_16}}</a></td>
							<td scope='col' style='border: 1px solid black;'><a style='font-weight: lighter;'>{{colli_16}}</a></td>
							<td scope='col' style='border: 1px solid black;'><a style='font-weight: lighter;'>{{peso_16}}</a></td>
							<td scope='col' style='border: 1px solid black;'><a style='font-weight: lighter;'>{{contrassegno_16}}</a></td>
						<tr>
						<tr>
							<td scope='col' style='border: 1px solid black;'><a style='font-weight: lighter;'>{{mitt_17}}</a></td>
							<td scope='col' style='border: 1px solid black;'><a style='font-weight: lighter;'>{{dest_17}}</a></td>
							<td scope='col' style='border: 1px solid black;'><a style='font-weight: lighter;'>{{viadest_17}}</a></td>
							<td scope='col' style='border: 1px solid black;'><a style='font-weight: lighter;'>{{luogo_17}}</a></td>
							<td scope='col' style='border: 1px solid black;'><a style='font-weight: lighter;'>{{colli_17}}</a></td>
							<td scope='col' style='border: 1px solid black;'><a style='font-weight: lighter;'>{{peso_17}}</a></td>
							<td scope='col' style='border: 1px solid black;'><a style='font-weight: lighter;'>{{contrassegno_17}}</a></td>
						<tr>
						<tr>
							<td scope='col' style='border: 1px solid black;'><a style='font-weight: lighter;'>{{mitt_18}}</a></td>
							<td scope='col' style='border: 1px solid black;'><a style='font-weight: lighter;'>{{dest_18}}</a></td>
							<td scope='col' style='border: 1px solid black;'><a style='font-weight: lighter;'>{{viadest_18}}</a></td>
							<td scope='col' style='border: 1px solid black;'><a style='font-weight: lighter;'>{{luogo_18}}</a></td>
							<td scope='col' style='border: 1px solid black;'><a style='font-weight: lighter;'>{{colli_18}}</a></td>
							<td scope='col' style='border: 1px solid black;'><a style='font-weight: lighter;'>{{peso_18}}</a></td>
							<td scope='col' style='border: 1px solid black;'><a style='font-weight: lighter;'>{{contrassegno_18}}</a></td>
						<tr>
						<tr>
							<td scope='col' style='border: 1px solid black;'><a style='font-weight: lighter;'>{{mitt_19}}</a></td>
							<td scope='col' style='border: 1px solid black;'><a style='font-weight: lighter;'>{{dest_19}}</a></td>
							<td scope='col' style='border: 1px solid black;'><a style='font-weight: lighter;'>{{viadest_19}}</a></td>
							<td scope='col' style='border: 1px solid black;'><a style='font-weight: lighter;'>{{luogo_19}}</a></td>
							<td scope='col' style='border: 1px solid black;'><a style='font-weight: lighter;'>{{colli_19}}</a></td>
							<td scope='col' style='border: 1px solid black;'><a style='font-weight: lighter;'>{{peso_19}}</a></td>
							<td scope='col' style='border: 1px solid black;'><a style='font-weight: lighter;'>{{contrassegno_19}}</a></td>
						<tr>
					</tbody>
				</table>
			</div>
			<div class="row">
				<table class="table table-borderless">
					<thead>
						<tr>
							<th scope='col' style='border: 1px solid black;'>Totale Spedizioni</th>
							<th scope='col' style='border: 1px solid black;'>Totale Colli</th>
							<th scope='col' style='border: 1px solid black;'>Totale Peso</th>
							<th scope='col' style='border: 1px solid black;'>Totale Contrassegni</th>
							<th scope='col' style='border: 1px solid black;'>Totale Consegne</th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td scope='col' style='border: 1px solid black;'><a style='font-weight: lighter;'>{{somma_spedizioni}}</a></td>
							<td scope='col' style='border: 1px solid black;'><a style='font-weight: lighter;'>{{somma_colli}}</a></td>
							<td scope='col' style='border: 1px solid black;'><a style='font-weight: lighter;'>{{somma_peso}}</a></td>
							<td scope='col' style='border: 1px solid black;'><a style='font-weight: lighter;'>{{somma_contrassegni}}</a></td>
							<td scope='col' style='border: 1px solid black;'><a style='font-weight: lighter;'>{{numero_sped}}</a></td>
						<tr>
					</tbody>
				</table>
			</div>
		</div>
	</body>
</html>